<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/add-paycycle.css" />
  </head>

  <body>
    <div class="h-full ml-14 md:ml-64">
      <div class="pt-20">
        <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md">
          <h2 class="text-lg font-semibold text-gray-700 capitalize">
            Add Absent Days
          </h2>

          <form method="POST" action="/absent/add">
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
              <div>
                <label class="text-gray-700">Select Employee</label>
                <select
                  name="emp_id"
                  id=""
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                >
                  <% employees.forEach((employee)=>{ %>
                  <option value="<%=employee.id%>">
                    <%=employee.f_name%> <%=employee.l_name%>
                  </option>
                  <% })%>
                </select>
              </div>

              <div>
                <label class="text-gray-700">Absent Day</label>
                <input
                  name="absent_dt"
                  type="date"
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                />
              </div>

              <div>
                <label class="text-gray-700" for="id"></label>
                <input
                  name="id"
                  type="hidden"
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                />
              </div>
            </div>

            <div class="flex justify-end mt-6">
              <button
                type="submit"
                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
              >
                Save
              </button>
            </div>
          </form>
        </section>
      </div>

      <div
        class="min-w-screen mt-24 flex items-center justify-center font-sans overflow-hidden"
      >
        <div class="w-full lg:w-5/6">
          <div class="bg-white shadow-md rounded my-6">
            <table class="min-w-max w-full table-auto">
              <thead>
                <tr
                  class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
                >
                  <th class="py-3 px-6 text-center">First Name</th>
                  <th class="py-3 px-6 text-center">Last Name</th>
                  <th class="py-3 px-6 text-center">Department</th>
                  <th class="py-3 px-6 text-center">Absent Date</th>
                </tr>
              </thead>
              <tbody class="text-gray-600 text-sm font-light">
                <% absents.forEach((absent)=>{ %>
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                  <td class="py-3 px-6 text-center">
                    <div class="flex justify-center space-x-3 items-center">
                      <span><%= absent.f_name %></span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%= absent.l_name %></span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%= absent.department_name %></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%= absent.absent_dt %></span>
                    </div>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
