<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/salary.css">
</head>

<body>
  <div class="h-full ml-14 md:ml-64">
    <div class="overflow-x-auto">
      <div
        class="min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
      >
        <div class="w-full lg:w-5/6">
          <div class="bg-white shadow-md rounded my-6">
            <table class="min-w-max w-full table-auto">
              <thead>
                <tr
                  class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
                >
          
        </tr>

                  <th class="py-3 px-6 text-center">First Name</th>
                  <th class="py-3 px-6 text-center">Last Name</th>
                  <th class="py-3 px-6 text-center">Department</th>
                  <th class="py-3 px-6 text-center">Date From</th>
                  <th class="py-3 px-6 text-center">Date To</th>
                  <th class="py-3 px-6 text-center">Hours worked</th>
                  <th class="py-3 px-6 text-center">Salary</th>
                  <th class="py-3 px-6 text-center">Overtime</th>
                  <th class="py-3 px-6 text-center">Total Salary</th>
                  <th class="py-3 px-6 text-center">Action</th>
                </tr>
              </thead>
              <tbody class="text-gray-600 text-sm font-light">
                <% if(salary.length > 0) { %>
                  <% salary.forEach((pay)=>{ %>
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                  <td class="py-3 px-6 text-center">
                    <div class="flex justify-center space-x-3 items-center">
                      <span><%=pay.f_name%></span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.l_name%></span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.department_name%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.date_from%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.date_to%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.hrs%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.salary%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.overtime%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex items-center justify-center">
                      <span><%=pay.total_salary%></span>
                    </div>
                  </td>

                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <a
                        href="/salary/edit/<%=pay.salary_id%>"
                        class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110 cursor-pointer"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                          />
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>

                <% }) %>
                <% } else {%>
                                  <tr>
                  <td colspan="7" class="px-4 py-3 font-semibold text-center">
                    NO SALARY DATA
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>