<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="h-full ml-14 md:ml-64">
      <div class="overflow-x-auto">
        <div
          class="min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
          <div class="w-full lg:w-5/6">
            <a
              href="/salary-list/form"
              class="px-4 top-0 py-2 font-medium tracking-wide hover:text-white capitalize transition-colors duration-200 transform border-2 border-blue-600 hover:bg-blue-600 rounded-sm focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
            >
              <button>Add Salary Details</button>
            </a>

            <div class="bg-white shadow-md rounded my-6">
              <table class="min-w-max w-full table-auto">
                <thead>
                  <tr
                    class="bg-gray-200 text-gray-600 uppercase text-xs leading-normal"
                  >
                    <th class="py-3 px-6 text-center">Name</th>
                    <th class="py-3 px-6 text-center">Department</th>
                    <th class="py-3 px-6 text-center">Hours worked</th>
                    <th class="py-3 px-6 text-center">Salary</th>
                    <th class="py-3 px-6 text-center">Overtime</th>
                    <th class="py-3 px-6 text-center">Overtime Hours</th>
                    <th class="py-3 px-6 text-center">Total Salary</th>
                    <th class="py-3 px-6 text-center">Action</th>
                  </tr>
                </thead>
                <tbody class="text-gray-600 text-xs font-light">
                  <% if(salary.length) { for (let i = 0; i < salary.length; i++)
                  { %>
                  <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-center">
                      <div class="flex justify-center space-x-3 items-center">
                        <span
                          ><%= salary[i].f_name + ' ' + salary[i].l_name
                          %></span
                        >
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].department_name %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].hrs %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].salary %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].overtime %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].ovt_hrs %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex items-center justify-center">
                        <span><%= salary[i].total_salary %></span>
                      </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                      <div class="flex item-center justify-center">
                        <a
                          href="/salaries/edit/<%= salary[i].salary_id %> %>"
                          class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110 cursor-pointer"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M15.232 5.232l3.536 3.536m-2.036-5.0<%= salary[i].salary_id %>36a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                            />
                          </svg>
                        </a>
                        <a
                          href="/salaries/delete/<%= salary[i].salary_id %> %>"
                          class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            />
                          </svg>
                        </a>
                      </div>
                    </td>
                  </tr>

                  <% } } else { %>
                  <tr>
                    <td colspan="9" class="px-4 py-3 font-semibold text-center">
                      NO SALARIES DATA
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>